body {
    background-color: rgb(252, 215, 215);
    cursor: url('assets/cherry-cursor.png') 16 16, auto;
}

h1 {
    color: #b11a3a;
    text-align: center;
    font-size: 45px;
    font-family: "Urbanist", sans-serif;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-family: "monospace", monospace;
    color: #f83b64;
}

header {
    text-align: center;
}

button {
    background-color: rgb(247, 189, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(179, 160, 160);
    color: rgb(0, 0, 0);
}

pre {
    letter-spacing: 8px;
    line-height: 2;
    margin-right: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #f83b64;
}

footer {
    text-align: center;
    font-size: 20px;
    font-family: "Urbanist", sans-serif;
    color: rgb(78, 78, 78);
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    font-style: italic;
}